@page "/"
@using PsyApp.UI.Components.Shared

<PageTitle>Home</PageTitle>

<h1>Welcome to PsyApp</h1>

<AuthorizeView>
    <Authorized>
        <h2>Welcome back, @context.User.Identity?.Name!</h2>
        <DoctorInfo />
    </Authorized>
    <NotAuthorized>
        <p>Welcome to PsyApp! Please <a href="/Account/Login">log in</a> or <a href="/Account/Register">register as a doctor</a> to get started.</p>
    </NotAuthorized>
</AuthorizeView>
